<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user == (post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    <% if !post.is_liked? current_user.id, post.id %>
      <%= link_to "Like", post_likes_path(post, @like), method: :post %>
    <% else %>
      Liked
    <% end %>
    <p>Likes: <%= post.likes.count %> </p>
  </span>
  <span>
    <ul>
    <%= render post.comments %>
  </ul>
    <%= render 'comments/comment_form', post: post %>
  </span>
</li>